<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyAccount</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/p.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="card">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="img-area" data-img="">
                <i class='bx bxs-user icon profile-icon'></i>
            </div>
            <div class="button-container">
                <label for="fileInput" id="input-label-text" class="file-button">
                    Change Image
                    <input
                        type="file"
                        accept="image/*"
                        class="form-control"
                        placeholder="Title"
                        required
                        name="image"
                    />
                </label>
            </div>
            <div class="form-section">
                <h4 id="title">Profile Settings:</h4>
                <div class="labels">
                    <input id="input2" type="text" name="user" placeholder="Username" value="">
                    <input id="input2" type="email" name="email" placeholder="Email" value="">
                </div>
                <button id="save">
                    <span class="button__text">Save Profile</span>
                </button>
            </div>
        </form>
    </div>
</body>
</html>
