<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyAccount</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/p.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />

</head>
<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" style="width: 158px;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/" class="active">Home</a></li>
                            <li><a href="{{ url_for('shop') }}">Our Shop</a></li>
                            <li><a href="{{ url_for('game') }}">Product Details</a></li>
                            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                            {% if session.get('username') %}
                            <li>
                                <a href="{{ url_for('profile') }}">
                                    <i class='bx bxs-user-circle profile-icon' style="font-size: 24px;"></i>
                                    <span class="username">{{ session['username'] }}</span>
                                </a>
                            </li>                            
                            {% else %}
                                <li><a href="{{ url_for('login') }}">Sign In</a></li>
                            {% endif %}
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="card">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="img-area" data-img="">
                {% if user[5] %}
                    <img src="{{ url_for('static', filename=user[5]) }}" alt="" width="150" class="img-fluid" />
                {% else %}
                    <i class='bx bxs-user icon profile-icon'></i>
                {% endif %}
            </div>
            <div class="button-container">
                <label for="fileInput" id="input-label-text" class="file-button">
                    Change Image
                </label>
                <input
                    type="file"
                    accept="image/*"
                    class="form-control"
                    placeholder="Title"
                    required
                    name="image"
                    id="fileInput"
                    style="display: none;" 
                />
            </div>
            <div class="form-section">
                <h4 id="title">Profile Settings:</h4>
                <div class="labels">
                    <input id="input2" type="text" name="user" placeholder="Username" value="{{ user[1] }}">
                    <input id="input2" type="email" name="email" placeholder="Email" value="{{ user[3] }}">
                </div>
                <button id="save">
                    <span class="button__text">Save Profile</span>
                </button>
            </div>
        </form>
    </div>
</body>
</html>
